In [3]:
#append() Create a list of city names. Add a new city "Delhi" using append() and print the updated list.
names = []
names.append("Delhi")
print(names)

['Delhi']

In [5]:
# You have a list [1, 2, 3]. Extend it with another list [4, 5, 6] using extend() and print the result.
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [6]:
# Insert the number 99 at index 1 in the list [10, 20, 30]. Use insert() and print the new list.
a = [10,20,30]
a.insert(1,99)
print(a)

[10, 99, 20, 30]

In [7]:
#remove() Remove the element "apple" from the list ["apple", "banana", "cherry"] using remove()
a = ["apple","banana","cherry"]
a.remove("apple")
print(a)

['banana', 'cherry']

In [8]:
#pop() Use pop() to remove the last element from the list [100, 200, 300, 400]. Print the removed value and updated list.
a = [100, 200, 300, 400]
b = a.pop(3)
print(a)
print(b)

[100, 200, 300]
400

In [10]:
# Given the list ["dog", "cat", "parrot", "cat"], find the index of the first occurrence of "cat" using index().
a = ["dog" , "cat" , "parrot" , "cat"]
b = a.index("cat")
print(b)

1

In [11]:
#Count how many times the number 7 appears in the list [7, 3, 7, 1, 7, 9] using count().
a = [7,3,7,1,7,9]
b = a.count(7)
print(b)

3

In [17]:
#Sort the list [5, 2, 9, 1, 7] in ascending order using sort() and print the result.
a = [5, 2, 9 , 1, 7]
a.sort()
print(a)

[1, 2, 5, 7, 9]

In [18]:
#reverse() Reverse the order of elements in the list [1, 2, 3, 4, 5] using reverse()
a = [1, 2, 3, 4, 5]
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [31]:
#copy() Copy the list ["red", "green", "blue"] to a new list using copy(). Modify the original list and show that the copied list remains unchanged.
a = ["red", "greeen", "blue"]
b = a.copy()
a.append("yellow")
print(a)
print(b)

['red', 'greeen', 'blue', 'yellow']
['red', 'greeen', 'blue']

In [32]:
#clear() Remove all elements from the list [10, 20, 30] using clear(). Print the list after clearing.
a = [10, 20 ,30]
a.clear()
print(a)

[]

# Tuple questions

In [35]:
#Tuple Count Given the tuple colors = ('red', 'blue', 'green', 'red', 'yellow', 'red'), count how many times 'red' appears.
a = ('red', 'blue', 'green', 'red', 'yellow', 'red')
a.count('red')

3

In [36]:
#Tuple Index ()Find the index of 'green' in the tuple colors = ('red', 'blue', 'green', 'yellow').
colors = ('red', 'blue', 'green', 'yellow')
b = colors.index("green")
print(b)

2

## Set questions

In [38]:
#Set Add 'cherry' to the set: 
fruits = {'apple', 'banana'}
fruits.add("cherry")
print(fruits)

{'cherry', 'banana', 'apple'}

In [40]:
#Set Update()Add elements from another set {'orange', 'grape'} to fruits = {'apple'} using update().
fruits = {'apple'}
fruits.update({"orange" , "grape"})
print(fruits)

{'grape', 'orange', 'apple'}

In [42]:
#Set Discard 'banana' from fruits = {'apple', 'banana', 'cherry'}
fruits = {'apple', 'banana', 'cherry'}
fruits.discard("banana")
print(fruits)

{'cherry', 'banana', 'apple'}

In [45]:
#Set Remove 'apple' using remove() from fruits = {'apple', 'grape'}.
fruits = {'apple', 'grape'}
fruits.remove("apple")
print(fruits)

{'grape'}

In [51]:
#Set Pop any element from colors = {'red', 'green', 'blue'} and store it in a variable.
colors = {'red', 'green', 'blue'}
b = colors.pop()
print(colors)
print(b)

{'red', 'green'}
blue

In [52]:
#Set Clear all elements from numbers = {1, 2, 3, 4}.
numbers = {1, 2, 3, 4}
numbers.clear()
print(numbers)

set()

In [53]:
#SetMake a copy of the set data = {1, 2, 3} and store it in a new variable.
data = {1, 2, 3}
b = data.copy()
print(b)

{1, 2, 3}

In [57]:
#Set Find the difference between set1 = {1, 2, 3, 4} and set2 = {3, 4, 5, 6}
set1 =  {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print("The difference of two set1 and set2 is : ", set1 - set2)
print(set1.difference(set2))

The difference of two set1 and set2 is :  {1, 2}
{1, 2}

In [60]:
#Set Union Find the union of a = {'x', 'y'} and b = {'y', 'z'}.
a = {'x', 'y'}
b = {'y', 'z'}
print("The union of two sets an and b is :" , a|b)
print(a.union(b))

The union of two sets an and b is : {'z', 'x', 'y'}
{'z', 'x', 'y'}

In [4]:
#Set Find common elements in set1 = {10, 20, 30} and set2 = {20, 40, 60}
set1 = {10, 20, 30} 
set2 = {20, 40, 60} 
print("The intersection of two sets is:" , set1&set2)
print(set1.intersection(set2))

The intersection of two sets is: {20}
{20}

In [5]:
#Set Check if {1, 2} is a subset of {1, 2, 3, 4}.
a = {1, 2}
b = {1, 2, 3, 4}
print(a.issubset(b))

True

In [6]:
#  Check if {1, 2, 3} is a superset of {2, 3}.
a = {1, 2, 3}
b = {2, 3}
print(a.issuperset(b))

True

In [7]:
#Set Find elements not common in a = {1, 2, 3} and b = {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.symmetric_difference(b))

{1, 2, 4, 5}

## Dictionary questions

In [8]:
#Extract all keys from student = {'name': 'John', 'age': 21}.
student = {'name': 'John', 'age': 21}
print(student.keys())

dict_keys(['name', 'age'])

In [9]:
# Get all values from employee = {'id': 101, 'name': 'Alice', 'salary': 50000}.
employee = {'id': 101, 'name': 'Alice', 'salary': 50000}
print(employee.values())

dict_values([101, 'Alice', 50000])

In [10]:
# Get all key-value pairs from the above dictionary
employee = {'id': 101, 'name': 'Alice', 'salary': 50000}
print(employee.items())

dict_items([('id', 101), ('name', 'Alice'), ('salary', 50000)])

In [15]:
#Safely get the value for the key 'grade' in marks = {'math'90, 'science': 85}
marks = {'math':90, 'science': 85}
b = marks.get("grade","not found")
print(a)
print(b)

{1, 2, 3}
not found

In [23]:
# Update the value of 'salary' to 60000 in employee = {'name': 'Alice', 'salary': 50000}. 
employee = {'name': 'Alice', 'salary': 50000}
employee.update({'salary' : 60000})
print(employee)

{'name': 'Alice', 'salary': 60000}

In [26]:
#Remove the key 'age' from person = {'name': 'Ravi', 'age': 30, 'city': 'Delhi'} using pop().
person = {'name': 'Ravi', 'age': 30, 'city': 'Delhi'}
person.pop("age")
print(person)

{'name': 'Ravi', 'city': 'Delhi'}

In [27]:
#Remove the last inserted item from data = {'a': 1, 'b': 2, 'c': 3} using popitem().
data = {'a': 1, 'b': 2, 'c': 3}
data.popitem()
print(data)

{'a': 1, 'b': 2}

In [29]:
#Clear all contents from info = {'x': 100, 'y': 200}.
info = {'x': 100, 'y': 200}
info.clear()
print(info,type(info))

{} <class 'dict'>

In [31]:
#Create a copy of config = {'theme': 'dark', 'lang': 'EN'}.
config = {'theme': 'dark', 'lang': 'EN'}
b = config.copy()
print(config)
print(b)

{'theme': 'dark', 'lang': 'EN'}
{'theme': 'dark', 'lang': 'EN'}

In [33]:
# Set default value 'Not Found' for key 'country' in profile = {'name': 'Sam'}.
profile = {'name': 'Sam'}
profile.setdefault('country' ,'not found')
print(profile)

{'name': 'Sam', 'country': 'not found'}

In [38]:
#Create a dictionary using fromkeys() with keys ['a', 'b', 'c'] and default value 0.
keys  = ['a', 'b', 'c']
k1 = dict.fromkeys(keys,0)
print(k1)

{'a': 0, 'b': 0, 'c': 0}

## Slicing and Indexing Questions

In [36]:
# Slice the first 4 characters from "DataScience".
a =  "DataScience"
print(a[0:4])

Data

In [39]:
#Given nums = [10, 20, 30, 40, 50], slice elements from index 1 to 3.
nums = [10, 20, 30, 40, 50]
print(nums[1:3])

[20, 30]

In [42]:
#Get a slice from the tuple days = ('Mon', 'Tue', 'Wed', 'Thu', 'Fri') from index 2 onward.
days = ('Mon', 'Tue', 'Wed', 'Thu', 'Fri')
print(days[2:])

('Wed', 'Thu', 'Fri')

In [44]:
#Access the last character of text = "Python" using negative indexing.
text = "Python"
print(text[-1])

n

In [49]:
#Access the element at index 3 in coordinates = (5, 10, 15, 20, 25).
coordinates = (5, 10, 15, 20, 25)
print(coordinates[3])

20

In [51]:
#Get the second last element from nums = [1, 2, 3, 4, 5]
nums = [1, 2, 3, 4, 5]
print(nums[-2])

4

 # Updating Values

In [62]:
#Given t = (1, 2, 3), change it to (1, 2, 4) by creating a new tuple.
t = (1, 2, 3)
t1  = list(t)
t1[2] = 4
t2 = tuple(t1)
print(t2,type(t2))

(1, 2, 4) <class 'tuple'>

In [54]:
#Change the second element to 99 in nums = [10, 20, 30] 
nums = [10, 20, 30] 
nums[1] = 99
print(nums)

[10, 99, 30]

In [57]:
# Update the value of 'status' to 'active' in user = {'name': 'Tom', 'status': 'inactive'}.
user = {'name': 'Tom', 'status': 'inactive'}
user['status'] = 'active'
print(user)

{'name': 'Tom', 'status': 'active'}

## Key & Value Extraction Questions

In [73]:
#Get the key 'city' from address = {'city': 'Mumbai', 'pin': 400001}
address = {'city': 'Mumbai', 'pin': 400001}
a = list(address.keys())
b = a[0]
print(b)

city

In [74]:
#Get the value associated with the key 'pin' from the above dictionary
address = {'city': 'Mumbai', 'pin': 400001}
a = list(address.values())
b = a[1]
print(b)

400001

## String Formatting: format() and f-strings

In [77]:
#Use .format() to print: "Hello, my name is Alice and I am 25 years old."
print(" {} , my name is {} and I am {} years old".format("Hello", "Alice" , 25))

 Hello , my name is Alice and I am 25 years old

In [78]:
#Print a message using placeholders: "{} scored {} out of {}" with values: "John", 85, 100.
print( " {0} scored {1} out of {2} " .format("john ", 85, 100))

 john  scored 85 out of 100

In [81]:
#Use f-strings to print: "Hi, I’m Riya and my score is 92" using variables name = "Riya", score = 92.
name = "Riya"
score = 92
print(f"Hi ,Im {name} and my score is {score}")

Hi ,Im Riya and my score is 92

In [82]:
#Given a = 5, b = 10, print "Sum is 15" using f-string with expression inside.
a = 5
b = 10
print(f" the sum is {a+b}")

 the sum is 15

## Set Methods

In [83]:
#Create a set of fruits: {"apple", "banana"}.
#Add a new fruit "mango" using add() and print the updated set.
fruits =  {"apple", "banana"}
fruits.add("mango")
print(fruits)

{'banana', 'mango', 'apple'}

In [85]:
#You have a set {1, 2, 3}.
#Update it with another set {4, 5, 6} using update() and print the result.
set = {1, 2, 3}
set2 = {4, 5, 6}
set.update(set2)
print(set)

{1, 2, 3, 4, 5, 6}

In [86]:
#remove the element 50 from the set {10, 20, 30, 40, 50} using **remove()`.
#Print the updated set.
set =  {10, 20, 30, 40, 50}
set.remove(50)
print(set)

{20, 40, 10, 30}

In [89]:
#Discard the value 100 from the set {50, 75, 100, 125} using discard().
#Print the final set and note that no error occurs if the element doesn’t exist.
set  = {50, 75, 100, 125}
set.discard(100)
set.discard(30)  # element does not exist
print(set)

{50, 75, 125}

In [91]:
#Use pop() on the set {200, 300, 400, 500}.
#Print the removed value and the updated set.
#(Explain that pop removes a random element.)
set = {200, 300, 400, 500}
print(set.pop())
print(set)

200
{500, 400, 300}

In [92]:
#Remove all elements from the set {9, 8, 7} using clear().
#Print the set after clearing.
set =  {9, 8, 7}
set.clear()
print(set,type(set))

set() <class 'set'>

In [93]:
#Copy the set {1, 2, 3} using copy().
#Modify the original set and show that the copied set does not change.
set  = {1, 2, 3}
b = set.copy()
set.add(4)
print(set)
print(b)

{1, 2, 3, 4}
{1, 2, 3}

In [95]:
#Given:
#Use union() to combine both sets and print the result.
A = {1, 2}
B = {2, 3}
print("The union of a and b is:",A.union(B))

The union of a and b is: {1, 2, 3}

In [96]:
#Find the intersection of sets {4, 6, 8, 10} and {6, 7, 8} using intersection().
a  = {4, 6, 8, 10}
b =  {6, 7, 8}
print("The intersection of a and b is :", a.intersection(b))

The intersection of a and b is : {8, 6}

In [97]:
#Find A.difference(B) and print the result.
A = {10, 20, 30}
B = {20, 40}
print("The difference between a and b is :" , A.difference(B))

The difference between a and b is : {10, 30}

In [98]:
#Given two sets {1, 2, 3} and {3, 4, 5}, find the symmetric difference using symmetric_difference().
a = {1, 2, 3}
b = {3, 4, 5}
print("The symmetric difference is :" , a.symmetric_difference(b))

The symmetric difference is : {1, 2, 4, 5}

In [100]:
#Check whether the set {2, 3} is a subset of {1, 2, 3, 4} using issubset().
a = {2,3}
b = {1, 2, 3, 4}
print(a.issubset(b))

True

In [101]:
#Use issuperset() to check if {10, 20, 30, 40} is a superset of {20, 30}.
a =  {10, 20, 30, 40}
b = {20, 30}
print(a.issuperset(b))

True

In [102]:
#Check if the sets {1, 3, 5} and {2, 4, 6} are disjoint using isdisjoint().
a = {1, 3, 5}
b = {2, 4, 6}
print(a.isdisjoint(b))

True

In [107]:
#Convert the list [1, 2, 3, 4, 5] into a frozenset.
#Try adding a new value and explain why it fails.
a = [1,2,3,4,5,]
b = frozenset(a)
print(b)
b.append("7") # fails because b has converted into frozenset()
print(b)

frozenset({1, 2, 3, 4, 5})

AttributeError: 'frozenset' object has no attribute 'append'

In [109]:
#Apply intersection_update() on A with B and print the updated A.
A = {1, 2, 3, 4}
B = {3, 4, 5}
A.intersection_update(B)
print(A)

{3, 4}

In [111]:
#Use difference_update() to remove common elements from A.
#Print the updated A
A = {10, 20, 30, 40}
B = {30, 40}
A.difference_update(B)
print(A)

{20, 10}

In [113]:
#Use symmetric_difference_update() on A and print the updated A.
A = {1, 2, 3}
B = {3, 4}
A.symmetric_difference_update(B)
print(A)

{1, 2, 4}

In [114]:
#Remove 10, 20, and 30 using discard() one by one.
#Print the final set.
A = {5, 10, 15, 20, 25}
A.discard(10)
A.discard(20)
A.discard(30)
print(A)

{5, 25, 15}

In [1]:
#given the list [1, 1, 2, 3, 3, 4, 5], convert it into a set to keep only unique values.
#Print the result and explain how sets remove duplicates.
a = [1, 1, 2, 3, 3, 4, 5]
b = set(a)
print(b)
### The set takes unique values and when list with duplicates is converted to set the dupplicates are removed

{1, 2, 3, 4, 5}