# String Methods

In [3]:
text  =  "Hello World!"

In [5]:
# len()--> Returns the length of the string
print("Length of string:", len(text))

Length of string: 12

In [7]:
# lower() ---> Converts the string to lowercase
print("Lowercase:",text.lower())

Lowercase: hello world!

In [9]:
# upper() ---> Converts the string to uppercase
print("Uppercase:",text.upper())

Uppercase: HELLO WORLD!

In [14]:
# srtip() ---> Removes leading and trailing spaces 
text = "       Hello,World!"
text1 = "Hello,World!    "
print(text)
print(text1.strip())
print(text.strip())

       Hello,World!
Hello,World!
Hello,World!

In [1]:
# Replace() ---> Replaces a word or chareacter with another
text  =  "Hello World!"
print("Text:",text)
print("Replace world with python:",text.replace("World" , "python"))
print("--------------------------")
text1 = "Hello"
print(text1.replace("e",'a'))
print(text1.replace("l" , "j"))

Text: Hello World!
Replace world with python: Hello python!
--------------------------
Hallo
Hejjo

In [27]:
#split() -----> Splits the string into list based on a separator
text = 'apple,banana,mango'
print(text.split(","))
a = 'apple','banana','mango'
print(a)

['apple', 'banana', 'mango']
('apple', 'banana', 'mango')

In [30]:
# startswith() ---> checks if string starts with a given prefix
text = "HelloWold"
print(text.startswith("He"))
print(text.startswith("je"))

True
False

In [32]:
# endswith() ---> checks if string ends with a given suffix
text  = "HelloWorld"
print(text.endswith("d!"))
print(text.endswith("d"))

False
True

In [33]:
# find() ---> Returns the index of the first occurence of a substring
text = "HelloWolrd!"
print(text.find('o'))

4

In [34]:
# count() ---> Counts how many times a substring occurs
text = "Hello,Hello,World"
print(text.count("Hello"))

2

In [37]:
# isaplha() ---> cehcks if all characters are letters
text = "Hello"
print(text.isalpha())
text1 = "Hello1"
print(text1.isalpha())

True
False

In [40]:
#isdigit() ---> checks if all the charecters are digits
text = '123'
print(text.isdigit())
text1  = "123he"
print(text1.isdigit())

True
False

In [42]:
#isalnum() ---> checks if the charecters are letters or numbers
text = "Hello123"
print(text.isalnum())

True

In [44]:
# capitalize--> Give first charecters in upper case
str.capitalize("hello world")

'Hello world'

## Type Casting

In [45]:
int(10.6)

10

In [47]:
a = 5
b = float(a)
print(b)

5.0

In [48]:
complex(4)

(4+0j)

In [50]:
str(123)

'123'

In [52]:
int('124')

124

In [55]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

## Format Function

In [57]:
name = 'john'
age = 20
print("My name is {} and I am {} years old".format(name,age)) # used to print bot values in single line

My name is john and I am 20 years old
john 20

In [62]:
s = "My name is  {a} and I am {b} years old".format(a=name,b=age)
print(s)

My name is  john and I am 20 years old

In [64]:
print("{} and {} are best friends".format("virat","rohit"))

virat and rohit are best friends

In [66]:
print("{2},{0} and {1} are best friends".format("Virat","Rohit","Dravid"))

Dravid,Virat and Rohit are best friends

In [70]:
# %d ----> Takes all the digits without decimals
# %f ----> Takes all the decimals digits 
# %s ----> Takes all the stirng elements
Integer = 10
Float = 10.5
String = 'Hari'
print("Hi I am an Integer...My value is %d\nHi I am Float....My value is %f\nHi I am an String....My value is %s"%(Integer,Float,String))

Hi I am an Integer...My value is 10
Hi I am Float....My value is 10.500000
Hi I am an String....My value is Hari

## fstring

In [72]:
# f-string ---> formatted string
# place f before the string and use curly brace {} to insert variables / expressions
name = 'chandu'
age  = 22
print(f"My name is {name} and I am {age } years old")

My name is chandu and I am 22 years old

In [74]:
a = 5 
b = 3
print(f"The sum is: {a+b}")

The sum is: 8

## List Data Type

In [76]:
a = [10,'hello',3.14,1+3j]
print(a)
print(type(a))

[10, 'hello', 3.14, (1+3j)]
<class 'list'>

In [77]:
a = [10]
print(type(a))

<class 'list'>

## Indexing

In [79]:
a = [10,20,30,40,50]
print(type(a))
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

<class 'list'>
10
20
30
40
50

In [80]:
a = [10,20,30,40,50]
print(type(a))
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

<class 'list'>
50
40
30
20
10

In [82]:
# immutable ---> cannot change elements
a = "Hello"
print(a[1])
a[1]='a'

e

TypeError: 'str' object does not support item assignment

In [84]:
#list is mutable
a = [1,2,3,4,5]
print(a[1])
a[1]="Hello"
a[4] = "hi"
print(a)

2
[1, 'Hello', 3, 4, 'hi']

In [89]:
a = [10,20,30,40,50]
print(a[0:4])
print(a[::-1])
print(a[0:5:2])
print(a[-5:])

[10, 20, 30, 40]
[50, 40, 30, 20, 10]
[10, 30, 50]
[10, 20, 30, 40, 50]

In [90]:
print(a)
print(a[1:3])
a[1:3]=[85,86]
print(a)

[10, 20, 30, 40, 50]
[20, 30]
[10, 85, 86, 40, 50]

In [94]:
a = [10,20,30,40,50]
print(a[-2])
a[-2]="hello"
print(a)

40
[10, 20, 30, 'hello', 50]

## Nested List

In [99]:
a = [10,'hello',3.5,1+3j,[12,'python',24.5,(1+6j)],[1,2,3,4,5]]
print(a)
print(type(a))
print(a[3])
print(a[4][1])
print(a[5][1])
print(a[-1][-2])

[10, 'hello', 3.5, (1+3j), [12, 'python', 24.5, (1+6j)], [1, 2, 3, 4, 5]]
<class 'list'>
(1+3j)
python
2
4

In [100]:
a[4]="hello"
print(a)

[10, 'hello', 3.5, (1+3j), 'hello', [1, 2, 3, 4, 5]]