In [5]:
sum=0
for i in range(1,6):
    sum+=i
print(sum)

15

In [8]:
sum=0
for i in range(2,21,2):
    sum+=i
print(i)

20

In [9]:
for i in range(1,11):
    print("5x",i,"=",5*i)

5x 1 = 5
5x 2 = 10
5x 3 = 15
5x 4 = 20
5x 5 = 25
5x 6 = 30
5x 7 = 35
5x 8 = 40
5x 9 = 45
5x 10 = 50

In [11]:
for i in range(1,11):
    if i%5==0:
        print(i)

5
10

In [13]:
num=int(input("enter a number:"))
for i in range(1,num+1):
    print(i)

enter a number: 21

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [15]:
numbers = [10, 20, 30, 40]
for n in numbers:
    print(n,end=" ")

10 20 30 40

In [17]:
for i in range(1,31):
    if i%3==0:
        print(i,end=" ")

3 6 9 12 15 18 21 24 27 30

In [18]:
#Print cube of numbers from 1 to 5
for i in range(1,6):
    print(i**3,end=" ")

1 8 27 64 125

In [22]:
#Count even numbers between 1 and 20
count=0
for i in range(1,21):
    if i%2==0:
        count+=1
print(count)

10

In [21]:
count = 0
for i in range(1, 11):
    count += 1
print(count)

10

In [24]:
a=input("enter a word:")
for i in a:
    print(i,end=" ")

enter a word: vinodh

v i n o d h

In [25]:
for i in range(1,12):
    if i%2==1:
        print(i,end=" ")

1 3 5 7 9 11

In [31]:
a=input("enter a word:")
for i in range (6):
    print(a*i)

enter a word: vinodh

vinodh
vinodhvinodh
vinodhvinodhvinodh
vinodhvinodhvinodhvinodh
vinodhvinodhvinodhvinodhvinodh

In [32]:
#Find the sum of numbers from 1 to 10
count=0
for  i in range(1,11):
    count+=i
print(count)

55

In [34]:
#Find the product of numbers from 1 to 5
product=1
for i in range(1,6):
    product=i*product
print(product)

1
2
6
24
120

In [36]:
count=0
for i in range(1,21):
    count+=1
print(count)

20

In [40]:
#Print numbers divisible by 5 from 1 to 50
a=int(input("enter a number:"))
for i in range(1,a+1):
    if i%5==0:
        print(i ,end=" ")

enter a number: 60

5 10 15 20 25 30 35 40 45 50 55 60

In [41]:
#Print multiplication table of 7
for i in range(1,11):
    print("7x",i,"=",7*i)

7x 1 = 7
7x 2 = 14
7x 3 = 21
7x 4 = 28
7x 5 = 35
7x 6 = 42
7x 7 = 49
7x 8 = 56
7x 9 = 63
7x 10 = 70

In [54]:
#Print numbers from 1 to 20 but skip 10
for i in range(1,21):
    if i==10:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20

In [59]:
#Print numbers from 1 to 10 and stop at 6
for i in range(1,10):
     print(i)
     if i==6:
         break

1
2
3
4
5
6

In [64]:
#Print reverse of a list [10, 20, 30]
numbers = [10, 20, 30]

for num in reversed(numbers):
    print(num)

30
20
10

In [67]:
#Count the number of characters in "Python"
a=input("enter a word:")
count=0
for ch in a:
    count+=1
print(count)

enter a word: qwertyu

7

In [70]:
#Print the cube of numbers from 1 to 5
a=int(input("enter a number:"))
for i in range(1,a+1):
      print(i**3,end=" ")

enter a number: 6

1 8 27 64 125 216

In [3]:
#Count how many even numbers are there between 1 and 50
count=0
for i in range(1,51):
    if i%2==0:
        count+=1
print(count)

25

In [4]:
#Find the sum of even numbers from 1 to 20
a=int(input("enter a number:"))
count=0
for i in range(1,a+1):
    if i%2==0:
        count+=i
print(count)

enter a number: 43

462

In [6]:
#Find the sum of odd numbers from 1 to 20
a=int(input("enter a number:"))
count=0
for i in range(1,a+1):
    if i%2!=0:
        count+=i
print(count)

enter a number: 26

169

In [8]:
#Print all numbers from 1 to 100 divisible by 3 and 5
c
for i in range(1,a+1):
    if i%3==0 and i%5==0:
        print(i,end=" ")

enter a number: 100

15 30 45 60 75 90

In [10]:
#Print the largest number in a list [5, 12, 8, 20]
a=[5, 12, 8, 20]
largest=a[0]
for i in a:
    if i > largest:
        largest = i
print(largest)

20

In [12]:
a=[5, 12, 8, 20]
smallest=a[0]
for i in a:
    if i < smallest:
        smallest = i
print(smallest)

5

In [18]:
#Count how many times a appears in "banana"
word=input("enter a number:")
count=0
for ch in word:
    if ch==a:
        count+=1
print(count)

enter a number: banana

3

In [4]:
#Print all vowels in the string "education"
a=input("enter a number:")
b="aeiou"
c=""
for ch in a:
    if ch not in b:
        c+=ch
print(c)

enter a number: vinodh

vndh

In [5]:
#Print numbers from 1 to 10 and print "Even" or "Odd"
a=int(input("enter a number:"))
for i in range(1,a+1):
    if i%2==0:
        print("even:",i)
    else:
        print("odd:",i)

enter a number: 10

odd: 1
even: 2
odd: 3
even: 4
odd: 5
even: 6
odd: 7
even: 8
odd: 9
even: 10

In [ ]:
#Print factorial of a number 5
a=int(input("enter a number:"))
b=1
for i in range(1,a+1):
    b=i*b