In [4]:
name_vinodh="vinodh"
name="vinodh"
print("name:",name_vinodh)
print(id(name_vinodh))
print(id(name))

name: vinodh
2147477241072
2147477241072

In [6]:
a=10
b=10.5
c=10+3j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [18]:
name="vinodh"
print(name[:])
print(name[0:])
print(name[0:10])
print(name[0:10:3])
print(name[::-1])
#del name
print(name)

vinodh
vinodh
vinodh
vo
hdoniv
vinodh

In [22]:
name="what's going on?\""
print(name)

what's going on?"

In [44]:
name="what's going on?"
print(len(name))
print(name.upper())
print(name.lower())
print(name.split())
print(name.strip())
print(name.startswith("a"))
print(name.endswith("m"))
print(name.find("a"))
print(name.count("a"))
print(name.isalpha())
print(name.isdigit())
print(name.isalnum())
print(name.capitalize())

16
WHAT'S GOING ON?
what's going on?
["what's", 'going', 'on?']
what's going on?
False
False
2
1
False
False
False
What's going on?

In [45]:
name="vinodh"
age=23
print(f"my name is  {name} and my age is {age}")

my name is  vinodh and my age is 23

In [47]:
a=[1,2,3,4,5]
a[3]=6
print(a)

[1, 2, 3, 6, 5]

In [66]:
a=[1,2,3,4,5]
b=[2,4,5,5,6,6,6]
print(a*2)
print(a[3]*2)
print(a+b)
a.append(3)
print(a)
#a.extend(b)
print(a)
a.insert(3,5)
print(a)
a.remove(5)
print(a)
a.sort()
print(a)
#a.clear()
print(a)
print(max(a))
print(min(a))
b=a.pop(1)
print(b)
print(a)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
8
[1, 2, 3, 4, 5, 2, 4, 5, 5, 6, 6, 6]
[1, 2, 3, 4, 5, 3]
[1, 2, 3, 4, 5, 3]
[1, 2, 3, 5, 4, 5, 3]
[1, 2, 3, 4, 5, 3]
[1, 2, 3, 3, 4, 5]
[1, 2, 3, 3, 4, 5]
5
1
2
[1, 3, 3, 4, 5]

In [68]:
letter=list("python")
print(letter)

['p', 'y', 't', 'h', 'o', 'n']

In [70]:
letter=list(input("enter a letter:"))
print(letter)
print(len(letter))

enter a letter: vinodh

['v', 'i', 'n', 'o', 'd', 'h']
6

In [76]:
a=[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
odd=0
even=0
for num in a:
    if num%2==1:
        odd+=1
    else:
        even+=1
print(odd)
print(even)

6
4

In [77]:
a=[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
b=set(a)
print(list(b))

[1, 2, 3, 4, 5]

In [82]:
a=[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4, 5]

In [87]:
a=[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
a.sort()
print(a)
print(a[::-1])

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]
[5, 5, 4, 4, 3, 3, 2, 2, 1, 1]

In [89]:
a=[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
b=[x**2 for x in a]
print(b)

[1, 4, 9, 16, 25, 1, 4, 9, 16, 25]

In [97]:
b=[x for x in range(1,51) if x%2==0]
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [100]:
x=["vinodh"]
b=[ch.upper() for ch in x]
print(b)

['VINODH']

In [104]:
a="vinodh is good boy"
b=[len(word) for word in a.split()]
print(b)

[6, 2, 4, 3]

In [105]:
a = [1, 2, 3]
b = a
b.append(4)
print(a)

[1, 2, 3, 4]

In [109]:
lst = [1, 2, 3]
lst[2] = 10
print(lst)

[1, 2, 10]

In [110]:
a=1,2,3
print(type(a))

<class 'tuple'>

In [116]:
a=(1,3,5,3,6,6,778,4,6,7)
print(sorted(a))
print(len(a))
print(max(a))
print(min(a))
print(a.count(6))

[1, 3, 3, 4, 5, 6, 6, 6, 7, 778]
10
778
1
3

In [117]:
a=(1,3,5,3,6,6,778,4,6,7)
if 4 in a:
    print("yes")
else:
    print("no")

yes

In [118]:
a=(1,3,5,3,6,6,778,4,6,7)
print(a[::-1])

(7, 6, 4, 778, 6, 6, 3, 5, 3, 1)

In [119]:
a=(1,3,5,3,6,6,778,4,6,7)
print(sum(a))

819

In [122]:
a=(1,3,5,3,6,6,778,4,6,7)
for i in a:
    if i%2==0:
        print(i,end=" ")

6 6 778 4 6

In [141]:
a={"a":"vinodh","b":"blaji","c":"viraj"}
print(a.keys())
print(a.values())
print(a.items())
#a["d"]=="karthik"
#print(a)
a["c"]="karthik"
print(a)
del a["c"]
print(a)
#c=list(a.items())
#print(c)
d=a.pop("b")
print(a)

dict_keys(['a', 'b', 'c'])
dict_values(['vinodh', 'blaji', 'viraj'])
dict_items([('a', 'vinodh'), ('b', 'blaji'), ('c', 'viraj')])
{'a': 'vinodh', 'b': 'blaji', 'c': 'karthik'}
{'a': 'vinodh', 'b': 'blaji'}
{'a': 'vinodh'}

In [146]:
a={1,2,3,5,4,6}
a.update([99,88])
a.remove(88)
a.pop()
print(a)

{2, 3, 4, 5, 6, 99}

In [156]:
a={1,2,3,5,4,6}
b={3,6,8,85,3,2}
print(a|b)
print(a&b)
print(a-b)
print(a.difference_update(b))
print(a^b)

{1, 2, 3, 4, 5, 6, 8, 85}
{2, 3, 6}
{1, 4, 5}
None
{1, 2, 3, 4, 85, 6, 5, 8}

In [157]:
a="vinodh"
ki="-".join(a)
print(ki)

v-i-n-o-d-h

In [161]:
b="vinodh" "is" "good" "boy"
sen=" ".join(b)
print(sen)

v i n o d h i s g o o d b o y

In [164]:
a={1,2,3,5,4,6}
a.add(7)
a.update([9,8])
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [166]:
year=int(input("enter a number:"))
if (year%400==0) or (year%4==0 and year%100!=0):
    print("leap year")
else:
    print("not leap year")

enter a number: 1999

not leap year

In [171]:
n=int(input("enter a number"))
ori=n
rev=0
while n>0:
    c=n%10
    rev=rev*10+c
    n//=10
if ori==rev:
    print("pailondrom")
else:
    print("not pailondrom")

enter a number 121

pailondrom

In [172]:
for i in range(3):
    print(i)

0
1
2

In [173]:
a=[x for x in range (1,11)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [177]:
a=[x*x for x in range (1,11)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [179]:
a=[x for x in range(1,21) if x%2==0]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]